[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = http://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/smartbd"]
	path = .vim/bundle/smartbd
	url = git://github.com/Industrial/vim-smartbd.git
[submodule ".vim/bundle/smartbw"]
	path = .vim/bundle/smartbw
	url = git://github.com/Industrial/vim-smartbw.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/minibufexpl"]
	path = .vim/bundle/minibufexpl
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule ".vim/bundle/colorscheme_github"]
	path = .vim/bundle/colorscheme_github
	url = https://github.com/vim-scripts/github-theme.git
[submodule ".vim/bundle/colorscheme_zazen"]
	path = .vim/bundle/colorscheme_zazen
	url = https://github.com/vim-scripts/zazen.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/vim-scripts/snipMate.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/autocomplpop"]
	path = .vim/bundle/autocomplpop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule ".vim/bundle/colorscheme_vividchalk"]
	path = .vim/bundle/colorscheme_vividchalk
	url = https://github.com/tpope/vim-vividchalk
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/javascript_indent"]
	path = .vim/bundle/javascript_indent
	url = https://github.com/jiangmiao/simple-javascript-indenter.git
[submodule "submodules/Tomorrow-Theme"]
	path = submodules/Tomorrow-Theme
	url = https://github.com/ChrisKempson/Tomorrow-Theme.git
