[user]
  name = Tom Wieland
  email = tom.wieland@gmail.com

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[github]
  user = Industrial

[alias]
  a   = add
  b   = branch
  c   = checkout
  cb  = checkout -b
  cm  = commit -m
  co  = checkout
  cob = checkout -b
  d   = diff
  dc  = diff --cached
  f   = fetch
  l   = log --all --oneline --graph --decorate=full
  lg  = log
  m   = merge
  p   = pull
  pa  = pull -a
  ps  = push
  rs  = reset
  rb  = rebase
  rbi = rebase -i
  rt  = remote
  ru  = remote update -p
  s   = status
  sh  = stash
  t   = tag

[push]
  default = simple
