[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = http://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/smartbd"]
	path = .vim/bundle/smartbd
	url = git://github.com/Industrial/vim-smartbd.git
[submodule ".vim/bundle/smartbw"]
	path = .vim/bundle/smartbw
	url = git://github.com/Industrial/vim-smartbw.git
[submodule ".vim/bundle/colorscheme_github"]
	path = .vim/bundle/colorscheme_github
	url = https://github.com/vim-scripts/github-theme.git
[submodule ".vim/bundle/colorscheme_zazen"]
	path = .vim/bundle/colorscheme_zazen
	url = https://github.com/vim-scripts/zazen.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/autocomplpop"]
	path = .vim/bundle/autocomplpop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule ".vim/bundle/colorscheme_vividchalk"]
	path = .vim/bundle/colorscheme_vividchalk
	url = https://github.com/tpope/vim-vividchalk
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/javascript_indent"]
	path = .vim/bundle/javascript_indent
	url = https://github.com/jiangmiao/simple-javascript-indenter.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/colorscheme_solarized"]
	path = .vim/bundle/colorscheme_solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/filetype_jade"]
	path = .vim/bundle/filetype_jade
	url = https://github.com/vim-scripts/jade.vim.git
[submodule ".vim/bundle/colorscheme_skittles_berry"]
	path = .vim/bundle/colorscheme_skittles_berry
	url = https://github.com/shawncplus/skittles_berry.git
[submodule ".vim/bundle/colorscheme_lucius"]
	path = .vim/bundle/colorscheme_lucius
	url = https://github.com/vim-scripts/Lucius.git
[submodule ".vim/bundle/javascript_syntax"]
	path = .vim/bundle/javascript_syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule ".vim/bundle/colorscheme_tomorrow"]
	path = .vim/bundle/colorscheme_tomorrow
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule ".vim/bundle/dwm"]
	path = .vim/bundle/dwm
	url = https://github.com/spolu/dwm.vim.git
